<div class="container-lg">
  <div class="row">
    <div class="col-md-4 offset-md-4 container-sm">
      <div class="card">
        <div class="card-body">
          <h1>Iniciar Sesion</h1>
          <form class="form" role="form" method="post" action="login" acceptCharset="UTF-8" id="login-nav" >

            <div class="form-group">
              <label class="sr-only" htmlFor="user_email">Username</label>
              <input name="username" 
              type="name" 
              class="form-control" 
              id="user_name" 
              onChange={handleInputChange}
              placeholder="Username" required />
            </div>
          
        <div class="form-group">
          <label class="sr-only" htmlFor="user_password">Password</label>
          <input name="password" 
          type="password" 
          class="form-control" 
          id="user_password" 
          onChange={handleInputChange}
          placeholder="Password" required />
          <div class="help-block text-right" id="promptForgotPassword"><a href="#">Forgot your password?</a></div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" id="authButton">Sign In</button>
        </div>
        </form>
      </div></div>
      <div class="bottom text-center">
        New here? <a href="#" id="linkSignSwitcher"><strong>Sign Up</strong></a>
      </div>
    </div>
  </div>
</div>