<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <h1>Registrarse</h1>
          <form class="form" role="form" method="post" action="login" acceptCharset="UTF-8" id="login-nav" >

            <div class="form-group">
              <label class="sr-only" htmlFor="user_email">Username</label>
              <input name="username" 
              type="name" 
              class="form-control" 
              id="user_name" 
              onChange={handleInputChange}
              placeholder="Username" required />
            </div>
          
        <div class="form-group">
          <label class="sr-only" htmlFor="user_password">Password</label>
          <input name="password" 
          type="password" 
          class="form-control" 
          id="user_password" 
          onChange={handleInputChange}
          placeholder="Password" required />
        
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="password" id="form3Example4cd" class="form-control" />
              <label class="form-label" for="form3Example4cd">Repeat your password</label>
            </div>
          </div>

          <div class="form-check d-flex justify-content-center mb-5">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
            <label class="form-check-label" for="form2Example3">
              I agree all statements in <a href="#!">Terms of service</a>
            </label>
          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="button" class="btn btn-primary btn-lg">Register</button>
          </div>

        </form>
      </div></div>
    
    </div>
  </div>