
<div class="main-panel container-lg">
  <div class="content mt-2 mb-5">
    <div class="row ">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Ventas totales</h5>
                <h2 class="card-title">Todos los Juegos</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div>
              <canvasjs-chart [options]="VentasPorJuego" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
            </div>                        
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Descargas</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"></i> 763,215
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvasjs-chart [options]="Descargas" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Ventas Diarias</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-delivery-fast text-info"></i>
            3,500€
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvasjs-chart [options]="Ventas" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>  
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total Interacción</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-send text-success"></i> 12,100K
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvasjs-chart [options]="Interacciones" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


